@{
    ViewData["Title"] = "Home Page";
}

    <html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div>
            <img class="center" src="~/images/logo.png" />
            <div class="hero-image">
                <div>
                    <p class="text">The very best habit tracker</p>
                </div>
            </div>
        </div>
       *<img class="center" width="400" src="~/images/pngTree.png" />
    </body>
    </html>
